body{
    display:flex;
}
    
i:before, i:after {
    content:"";
    position: absolute;
    background-color: #000;
    transform: translate(-6px, 0);
    right:20px;
    width: 3px;
    height: 9px;
}
i:before {
    transform: translate(-2px, 0) rotate(45deg);
    /* background-color:blue; */
}
i:after{
    transform: translate(2px, 0) rotate(-45deg);
}
li input[type=checkbox]{
    position:absolute;
    width:100%;
    height:100%;
    z-index:0;
    opacity:0;
    touch-action: manipulation;
}
input[type=checkbox] ~ h1:hover{
    text-decoration: underline;
}
ul {
    max-width:100%;
    text-align:left;
    list-style:none;
    perspective: 900;
    padding: 0;
    margin:0;
}
ul h1{
    font-size:20px;
    font-weight: bold;
    padding: 0;
    display:block;
    text-align:left;
    margin:0;
    text-transform: none;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul li{
    position: relative;
    overflow:hidden;
}
lightning-checkbox-group {
    overflow:hidden;
    position:relative;
    contain: layout;
    display:inline-block;
    z-index:0;
    padding: 3px 15px 3px 15px;
    border-style:solid;
    border-radius: 2px;
    border-width:1px;
    width:100%;
}
li input[type=checkbox]:checked ~ i:before{
    transform: translate(2px, 0) rotate(45deg);
}
li input[type=checkbox]:checked ~ i:after{
    transform: translate(-2px, 0) rotate(-45deg);
}
li input[type=checkbox]:checked ~ lightning-checkbox-group {
    max-height: 0;
    opacity: 0;
}